body {
    background-color: #282c34;
  }
  
  .App {
    text-align: center;
    min-width: 728px;
    margin: 0 auto;
  }
  
  .App header {
    background-color: #181717;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    min-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
  main {
    padding: 10px;
    height: 80vh;
    margin: 10vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  main::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  main::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  main::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    width: 100%;
    min-width: 728px;
    display: flex;
    font-size: 1.5rem;
  }
  
  form button {
    border-color: blue;
    color: #fff;
    box-shadow: 0 0 40px 40px rgb(85, 85, 189) inset, 0 0 0 0 blue;
    transition: all 500ms ease-in-out;
    width: 20%;
    background-color: rgb(56, 56, 143);
    
  }

  form button:hover {
    box-shadow: 0 0 10px 0 rgb(226, 226, 236) inset, 0 0 10px 4px rgb(226, 226, 236);
  }
  
  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgb(58, 58, 58);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
  }
  
  button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color: #282c34;
    background: white;
    max-width: 400px;
    margin: 0 auto;
  }
  
  
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  p {
    max-width: 85%;
	display: inline-block;
	padding: 0.5rem 1rem;
	line-height: 1rem;
	min-height: 1rem;
	font-size: 1rem;
	border-radius: 1rem;
	margin-bottom: 0.5rem;
	word-break: break-all;
  }
  /* p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: whitesmoke;
    text-align: center;
  } */
  
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    float: right;
    background-color: #6A50FD;
    color: white;
    border-bottom-right-radius: 0.125rem;
  }
  /* .sent p {
    color: white;
    background: #6649b8;
    align-self: flex-end;
  } */
  .received p {
    float: left;
    background-color: #DFD8DA;
    color: black;
    border-bottom-left-radius: 0.125rem;
  }
  /* .received p {
    background: #e5e5ea;
    color: black;
  } */
  
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
  